
body {
  font-family: "Open Sans", Arial, sans-serif;
  background: url('../img/redox_01.png') repeat;
}

.not-supported {
	display: none;
}

.show {
	display: block;
}

.footer p {
	font-size: 0.8em;
	margin-bottom: 0.4em;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 0.7em;
}

.xaxis path {
	stroke: none;
}
