
body {
  font-family: "Open Sans", Arial, sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 0.7em;
}

.xaxis path {
	stroke: none;
}